.navbar-vertical #sidenav-collapse-main li:hover a, .navbar-vertical #sidenav-collapse-main li.active a, .navbar-vertical #sidenav-collapse-main li:hover i, .navbar-vertical #sidenav-collapse-main li.active i, .text-gradient{
    background: #32a5fd;
    background: -moz-linear-gradient(-45deg, #32a5fd 0%, #7271fb 50%, #9561fb 100%);
    background: -webkit-linear-gradient(-45deg, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
    background: linear-gradient(135deg, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-vertical #sidenav-collapse-main li a{
    font-size: 21px !important;
}

.navbar-vertical #sidenav-collapse-main li i{
    font-size: 30px !important;
}

.navbar-vertical #sidenav-collapse-main .navbar-nav .nav-link>i{
    line-height: 2rem;
    min-width: 3.5rem;
}
