@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

*{
  font-family: 'Source Sans Pro', sans-serif;
  color: #7A7A7A;
  font-size:18px;
  font-weight:300 !important;
}

.bg-light{
  background-color: #FFF !important;
}

.nav-item{
  font-family: 'Source Sans Pro', sans-serif;
  color: #7A7A7A;
  text-transform: uppercase;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link.blue{
  color:#32A5FD;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color:#32A5FD;
  font-weight: bold;
}

.navbar .dropdown-menu{
  width:auto;
}

.login .container{
  position: relative;
}
.login-box{
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  background: #32a5fd;
  background: -moz-linear-gradient(-45deg, #32a5fd 0%, #7271fb 50%, #9561fb 100%);
  background: -webkit-linear-gradient(-45deg, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
  background: linear-gradient(135deg, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5fd', endColorstr='#9561fb',GradientType=1 );
  padding: 20px;
  border-radius: 3px;
}

.login{
  display: none;
}

.login-box #close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.login-box .close-button-line1 {
   transform: rotate(45deg);
 }
.login-box .close-button-line2 {
  transform: rotate(-45deg);
}

.login-box #close-button [class^=close-button-line] {
  height: 2px;
  width: 20px;
  background-color: #FFF;
  position: absolute;
  margin-top: 8px;
  border-radius: 4px;
}

.login-box #close-button:hover [class^=close-button-line] {
  background-color: #32A5FD;
}

.login-box label, .login-box h6, .login-box a, .login-box a:visited, .login-box a:hover{
  color:#FFF;
}

footer{
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  clear: both;
}

footer .nav-link{
    font-size: 0.7rem;
}

#content{
  text-align: center;
  padding:40px 10px;
}

#content h1{
  margin-bottom:40px;
}

#content h1 b{
  color:#32A5FD;
  font-size: 2.5rem;
}

#content img{
  margin-bottom:40px;
}

#content p{
  line-height: 1.3rem;
}

#content p b{
  font-weight: 500 !important;
}

#content .upload{
  cursor: pointer;
}

#content .upload img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#content .upload:hover img {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#content .page{
  max-width: 800px;
  margin: auto;
}

#content .page ul li{
  font-size: 1.25rem;
}

footer .navbar ul li.nav-item{
  padding: 7px 15px;
}

.box__dragndrop, .box__uploading, .box__success, .box__error {
  display: none;
}

.progress-bar-success{
    background: #32a5fd;
    background: -moz-linear-gradient(left, #32a5fd 0%, #7271fb 50%, #9561fb 100%);
    background: -webkit-linear-gradient(left, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
    background: linear-gradient(to right, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5fd', endColorstr='#9561fb',GradientType=1 );
}

.progress {
    height: 1.5rem;
    border-radius: 0.3rem;
}

#progress{
    position: relative;
    display: none;
}

#progress .current{
    position: absolute;
    left:0;
    transition: all 0.6s ease;
}

.fileinput-button{
    display: block !important;
}

@media (min-width: 992px) {

    .fileinput-button #progress{
        width: 65%;
        margin: auto;
    }
}

.your_files{
    display: none;
}

#files{
    border-radius: 5px;
}

#files .table td {
    padding: 0.5rem 0.75rem;
}
#files tr td:first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
    width: 70%;
    text-align: left;
}
#files tr td:last-child{
    float:right;
    width:30%;
    text-align: right;
}

#files tr td:last-child a:hover, #files tr td:last-child a:visited{
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 500px) {

    #files tr td:first-child {
        width: 55%;
    }

    #files tr td:last-child {
        width: 45%;
        text-align: left;
    }
}

.download-btn .btn{
    background: #32a5fd;
    background: -moz-linear-gradient(left, #32a5fd 0%, #7271fb 50%, #9561fb 100%);
    background: -webkit-linear-gradient(left, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
    background: linear-gradient(to right, #32a5fd 0%,#7271fb 50%,#9561fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a5fd', endColorstr='#9561fb',GradientType=1 );
    color: #FFF;
    font-weight: bold;
    margin-top:20px;
    border: none;
    padding: 10px 20px;
    border-radius:10px;
}

.jssocials-share-link { border-radius: 50%; }
.jssocials-share a i{
    color:#FFF;
}
